body {
  background-color: floralwhite;
}

.app {
  padding: 30px;
  background-color: floralwhite;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 1rem ;
}